# macOS
*.DS_Store

# JetBrains
*.idea
*.iml

# Python 
__pycache__/

## Virtual Environment
.venv

## PDM
#   The .pdm.toml file contains configurations and may be
#   committed in some cases.
.pdm.toml
.pdm-python
.pdm-build/

# Builds of the docs
docs/build/*

tmp/